
.header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.header a {
    text-decoration: none;
    color: white;
}

.header img {
    width: 150px;
}

.header ul {
    font-weight: 300;
    color: white;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.header nav {
    margin-top: auto;
    margin-bottom: auto;
}

.header li {
    width: 120px;
}

@media only screen and (max-width: 720px) {
    .header nav {
        display: none;
    }
}