@using ElementsLib.BaseElements
@using ElementsLib.Models
@inherits ScaffoldingRenderElement

<ScaffoldingRenderElement Child="this">
    <div class="buttons_01 evogria">
        @foreach(var button in Buttons)
        {
            <div class="buttons_01__item">
                <Button_Stretch Button="button" />
            </div>
        }
    </div>
</ScaffoldingRenderElement>

@code {

    public List<WebButtonModel> Buttons => new List<WebButtonModel>
    {
        Button1, Button2, Button3
    };
    
    [Parameter] public WebButtonModel Button1 { get; set; }
    [Parameter] public WebButtonModel Button2 { get; set; }
    [Parameter] public WebButtonModel Button3 { get; set; }
}