@using ElementsLib.BaseElements
@using ElementsLib.ComputerShopStyle
@using ElementsLib.Models
@inherits ComponentBaseWithStyles

<ColumnScaffolding ScaffoldingStyle="CssStyles">
    <div class="buttons_01 evogria">
        @foreach(var button in Buttons)
        {
            <div class="buttons_01__item">
                <DynamicComponent Type=@(button.GetType()) Parameters=@(button.GetValuesDictionary()) />
            </div>
        }
    </div>
</ColumnScaffolding>

@code {
    [Parameter] public int Height { get; set; } = 60;
    [Parameter] public WebButton? Button1 { get; set; }
    [Parameter] public WebButton? Button2 { get; set; }
    [Parameter] public WebButton? Button3 { get; set; }

    private List<WebButton> Buttons => GetButtons();
    
    private List<WebButton> GetButtons()
    {
        var returnList = new List<WebButton>();
        if (Button1 != null) returnList.Add(Button1);
        if (Button2 != null) returnList.Add(Button2);
        if (Button3 != null) returnList.Add(Button3);
        return returnList;
    }
}