
* {
    box-sizing: border-box;
}

.feature_02 {
    display: flex;
    color: white;
    flex-direction: row;
}

.feature_02__wrapper {
    margin: 0 1.25%;
    padding: 40px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: fit-content;
    justify-content: space-between;
    
    border: 2px solid #00cce7;
    border-radius: 10px;
    background: rgb(46,24,132);
    background: linear-gradient(15deg, rgba(46,24,132,1) 0%, rgba(138,78,196,1) 25%, rgba(137,79,196,1) 35%, rgba(70,169,231,1) 100%);

}


@media only screen and (max-width: 960px) {
    .feature_02__wrapper {
        width: 100%;
        margin: 0 0 25px;
    }
    
    .feature_02 {
        flex-direction: column;
    }
}