@using ElementsLib.BaseElements
@using ElementsLib.Models
@inherits ComponentBaseWithStyles

<LineScaffolding ScaffoldingStyle="CssStyles">
    <div class="feature_02">
        @foreach (var item in Items)
        {
            <div class="feature_02__item">

                <img class="item__background_avatar"
                     src="//cdn.shopify.com/s/files/1/0408/5792/7834/files/Good-1_117x117.jpg?v=1614350504"
                     alt="First configuration avatar" />

                <div class="item__background"></div>

                <div class="item__content">
                    <TextBlock
                        TextField="@item.Header"
                        IsTitle="true"
                        Size="TextBlock.SizeType.Large"
                        FontFamily="evogria"
                        HtmlTag="Dynamic.HtmlTagType.H3"
                        MarginBottom=@(new WebSizePx(15)) />

                    <TextBlock
                        TextField="@item.TextField"
                        MarginBottom="30" />

                    <ComputerStats
                        StatA=@(item.Graphic)
                        StatB=@(item.Processor)
                        StatC=@(item.Memmory)
                        StatD=@(item.Storage)
                        MarginBottom="30" />

                    <TextBlock
                        TextField="@("Starting at")"
                        Align=@(WebAlignType.Center)
                        Size="TextBlock.SizeType.Small"
                        FontFamily="evogria" />

                    <TextBlock
                        TextField=@(item.PriceField)
                        IsTitle=@(true)
                        Size="TextBlock.SizeType.Big"
                        Align=@(WebAlignType.Center)
                        FontFamily="evogria" />
                </div>

                <ButtonBlock
                    TextField=@(item.ButtonText)
                    RedirectLink=@(item.ButtonLink)
                    Height="55" />

            </div>
        }
    </div>
</LineScaffolding>


@code {

    
    // public override WebColor? BackgroundColor { get; set; } = "#fff";

    public List<Content> Items => new List<Content>
    {
        Feature1, Feature2, Feature3
    };
    
    [Parameter] public Content Feature1 { get; set; }
    [Parameter] public Content Feature2 { get; set; }
    [Parameter] public Content Feature3 { get; set; }
    
    public class Content
    {
        public string ImageSource { get; set; }
        public WebText Header { get; set; }
        public WebText TextField { get; set; }
        public int Graphic { get; set; }
        public int Processor { get; set; }
        public int Memmory { get; set; }
        public int Storage { get; set; }
        public string PriceField { get; set; }
        public string ButtonText { get; set; }
        public string ButtonLink { get; set; }
        public string ButtonAction { get; set; }
    }
}