
* {
    box-sizing: border-box;
}

.feature_01 {
    display: flex;
    color: white;
    flex-direction: row;
}

.feature_01__wrapper {
    margin: 0 1.25%;
    padding: 50px 20px 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: fit-content;
    
    border: 2px solid #00cce7;
    border-radius: 10px;
    background: rgb(13,27,35);
    background: linear-gradient(90deg, rgba(13,27,35,1) 0%, rgba(5,12,18,1) 100%);
}

.feature_01__header {
    margin-bottom: 30px;
}


@media only screen and (max-width: 960px) {
    .feature_01__wrapper {
        width: 100%;
        margin: 0 0 25px;
    }
    
    .feature_01 {
        flex-direction: column;
    }
}