@using ElementsLib.BaseElements
@using ElementsLib.Models
@using ElementsLib.Blocks
@inherits ComponentBaseWithStyles


<ColumnScaffolding ScaffoldingStyle=@(CssStyles)>
    <AdditionalContent>
        <img class="item__background_avatar"
             src="//cdn.shopify.com/s/files/1/0408/5792/7834/files/Good-1_117x117.jpg?v=1614350504"
             alt="First configuration avatar"/>
        <div class="feature_holder_02__item">
            @FirstFeature
        </div>
    </AdditionalContent>
    <AdditionalContent>
        <img class="item__background_avatar"
             src="//cdn.shopify.com/s/files/1/0408/5792/7834/files/Good-1_117x117.jpg?v=1614350504"
             alt="First configuration avatar"/>
        <div class="feature_holder_02__item">
            @SecondFeature
        </div>
    </AdditionalContent>
    <AdditionalContent>
        <img class="item__background_avatar"
             src="//cdn.shopify.com/s/files/1/0408/5792/7834/files/Good-1_117x117.jpg?v=1614350504"
             alt="First configuration avatar"/>
        <div class="feature_holder_02__item">
            @ThirdFeature
        </div>
    </AdditionalContent>
</ColumnScaffolding>

@code {
    [Parameter] public RenderFragment FirstFeature { get; set; }
    [Parameter] public RenderFragment SecondFeature { get; set; }
    [Parameter] public RenderFragment ThirdFeature { get; set; }
    
    [Parameter] public string FirstImage { get; set; }
    [Parameter] public string SecondImage { get; set; }
    [Parameter] public string ThirdImage { get; set; }
}