@using ElementsLib.BaseElements
@using ElementsLib.Models
@inherits WebLineModel

<Scaffolding ChildWebBlockModel="this">
    <div class="feature_01">
        @foreach (var item in Items)
        {
            <div class="feature_01__wrapper">
                <div class="feature_01__header evogria" style="@item.Header.Styles">
                    <TextBlock 
                        IsTitle="true"
                        TextField="@item.Header.Content" 
                        Tag=@(TextBlock.TagType.H3)
                        Size="TextBlock.SizeType.Medium" />
                </div>
                <div class="feature_01__description" style="@item.TextField.Styles">
                    <TextBlock
                        LineHeight="2"
                        Size="TextBlock.SizeType.Medium"
                        TextField="@item.TextField" />
                </div>
            </div>
        }
    </div>
</Scaffolding>

@code {
    public List<Content> Items => new List<Content>
    {
        Feature1, Feature2, Feature3
    };
    
    [Parameter] public Content Feature1 { get; set; }
    [Parameter] public Content Feature2 { get; set; }
    [Parameter] public Content Feature3 { get; set; }
    
    public class Content
    {
        public WebText Header { get; set; }
        public WebText TextField { get; set; }
    }
}