@using ElementsLib.BaseElements
@using ElementsLib.Models
@inherits ScaffoldingRenderElement

<ScaffoldingRenderElement Child="this">
    <div class="feature_02">
        @foreach (var item in Items)
        {
            <div class="feature_02__wrapper">
                <div>
                    <Text_Title
                        Text="@item.Header.Content"
                        HeadlineType="Text_Title.Headline.H3"
                        MarginBottom="@(new WebSizePx(15))"
                        FontName="evogria" />
                    
                    <Text_Block
                        Text="@item.TextField"
                        MarginBottom="@(new WebSizePx(25))"/>
                </div>
                

                <Button_Stretch
                    Button=@item.Button
                    Height="new WebSizePx(55)"/>
            </div>
        }
    </div>
</ScaffoldingRenderElement>


@code {

    
    public override string? BackgroundColor { get; set; } = "#fff";

    public List<Content> Items => new List<Content>
    {
        Feature1, Feature2, Feature3
    };
    
    [Parameter] public Content Feature1 { get; set; }
    [Parameter] public Content Feature2 { get; set; }
    [Parameter] public Content Feature3 { get; set; }
    
    public class Content
    {
        public string ImageSource { get; set; }
        public WebText Header { get; set; }
        public WebText TextField { get; set; }
        public WebButtonModel Button { get; set; }
        public string PriceField { get; set; }
    }
}