@using ElementsLib.BaseElements
@using ElementsLib.Models
@inherits ComponentBaseWithStyles

<ColumnScaffolding
    ScaffoldingStyle="CssStyles" 
    IsFullWidthContainer="true" 
    FirstColumnSettings=@(new ColumnSettings(ColumnWidth.col_100))>
    <div class="gallery_01">
        @foreach (var image in Images)
        {
            <div class="gallery_01__photo gallery_01__size--20">
                <img src=@(image) alt="Photo">
            </div>
        }
    </div>
    
</ColumnScaffolding>

@code
{
    [Parameter] public List<string> Images { get; set; }
}
