@using ElementsLib.BaseElements
@using ElementsLib.Models
@inherits ComponentBaseWithStyles

<LineScaffolding 
    ScaffoldingStyle="CssStyles" 
    IsFullWidthContainer="true"
    ChildWidth="ColumnWidth.col_100" >
    <div class="gallery_01">
        @foreach (var image in Images)
        {
            <div class="gallery_01__photo gallery_01__size--20">
                <img src=@(image) alt="Photo">
            </div>
        }
    </div>
    
</LineScaffolding>

@code
{
    [Parameter] public List<string> Images { get; set; }
}
