@using ElementsLib.BaseElements
@inherits ScaffoldingRenderElement

<ScaffoldingRenderElement Child="this" >
    <div class="gallery_01">
        <div class="gallery_01__photo" style="background-color: #00cce7"></div>
        <div class="gallery_01__photo" style="background-color: #541354"></div>
        <div class="gallery_01__photo" style="background-color: red"></div>
        <div class="gallery_01__photo" style="background-color: blanchedalmond"></div>
        <div class="gallery_01__photo" style="background-color: #b6dcff"></div>
        <div class="gallery_01__photo" style="background-color: brown"></div>
    </div>
</ScaffoldingRenderElement>