@using ElementsLib.BaseElements
@using ElementsLib.Models
@inherits WebLineModel

<Scaffolding ChildWebBlockModel="this" BlockName="Gallery_01" >
    <div class="gallery_01">
        @foreach (var image in Images)
        {
            <div class="gallery_01__photo gallery_01__size--20">
                <img src=@(image) alt="Photo">
            </div>
        }
    </div>
</Scaffolding>

@code
{
    public override ColumnWidth? ContentWidth { get; set; } = ColumnWidth.col_100;
    
    [Parameter] public List<string> Images { get; set; }
}
