@using ElementsLib.BaseElements
@using ElementsLib.Blocks
@using ElementsLib.Models
@using ElementsLib.BaseComponents
@inherits ComponentBaseWithStyles

<ColumnScaffolding 
    ScaffoldingStyle="CssStyles" 
    FirstColumnSettings="new ColumnSettings(ColumnWidth.col_6)">
    <AdditionalContent>
        <div class="page_cover_01">
            <TextBlock
                TextField="@Title"
                Size=@(TextBlock.SizeType.Large)
                IsTitle="true"
                FontFamily="evogria"
                MarginBottom="15"
                />
            <TextBlock
                TextField="@Subtitle"
                Size=@(TextBlock.SizeType.Small)
                IsTitle="true"
                FontFamily="evogria"
                MarginBottom="30"
            />
            <ButtonsInline 
                Buttons="@(Buttons)" 
                HeightOfBlock="@(50)"
                />
        </div>
    </AdditionalContent>
    
</ColumnScaffolding>


@code {
    [Parameter] public WebText Title { get; set; } = "Title text";
    [Parameter] public WebText Subtitle { get; set; } = "Subtitle test";
    [Parameter] public List<WebButton> Buttons { get; set; } = new List<WebButton>();
}