.page_cover_01 {
    display: flex;
    height: 480px;
}
.page_cover_01__content {
    margin: auto 0;
    width: 600px;
    color: white;
}
.page_cover_01__buttons{
    height: 50px;
    /*font-size: 1.3em;*/
}
@media only screen and (max-width: 640px) {
    .page_cover_01__buttons{
        height: 65px;
        /*font-size: 1.15em;*/
    }
    .page_cover_01__content {
        width: 100%;
    }
}
@media only screen and (max-width: 960px) {
    .page_cover_01__buttons {
        height: 60px;
        /*font-size: 1em;*/
    }
}