@using ElementsLib.BaseElements
@using ElementsLib.Models
@inherits ScaffoldingRenderElement

<ScaffoldingRenderElement Child="this">
     <div class="shopping_cart_01">
        
            <div class="shopping_cart_01__left_part">
                <div class="shopping_cart_01__image">
                    <div class="image">
                        <img src="//cdn.shopify.com/s/files/1/0408/5792/7834/files/01_-_Main_-_Liquid_Cooled-removebg-preview.png?v=1614370269" alt="">
                    </div>
                </div>
                
                <div class="shopping_cart_01__price evogria">
                    <Title_01 TextField=@(new WebText(TotalPrice){ Color = "#007bed"}) />
                </div>
                
                <div class="shopping_cart_01__button evogria">
                    <Button_Stretch
                        Height=@(new WebSizePx(80))
                        Button=@(new WebButtonModel("ORDER") {BackgroundColor = new WebColor("#00C787")}) />
                </div>
            </div>
        
            <div class="shopping_cart_01__right_part">
                <div class="cart_list">
                    @if (Items != null)
                    {
                        foreach (var item in Items)
                        {
                            <div class="cart_list__item">
                                <img src=@item.ImageSource alt="">
                                <span class="cart_list__description">@item.TextField</span>
                                <span class="cart_list__price">@item.Price</span>
                            </div>
                        } 
                    }
                </div>
                <div class="recommendations evogria">
                    <Title_01 TextField=@(new WebText("RECOMMENDED ESSENTIALS"){ Size = new WebSizeEm(1.8f), Color = "#fff"}) />
                    <div class="recommendations__wrapper">
                        <div class="recommendations__item"></div>
                        <div class="recommendations__item"></div>
                        <div class="recommendations__item"></div>
                        <div class="recommendations__item"></div>
                    </div>
                </div>
            </div>
        
            <div class="shopping_cart_01__background">
                <div class="background__left"></div>
                <div class="background__right"></div>
            </div>
        </div>

</ScaffoldingRenderElement>
   

@code {
    [Parameter] public string TotalPrice { get; set; } = "Not set...";
    [Parameter] public List<ListItem>? Items { get; set; }

    public class ListItem
    {
        public string ImageSource { get; set; } = "";
        public string TextField { get; set; } = "";
        public string? Price { get; set; } = "";
    }
}
