@using ElementsLib.BaseElements
@using ElementsLib.Models
@inherits ComponentBaseWithStyles

<LineScaffolding ScaffoldingStyle="CssStyles">
    <div class="text-simple" >
        <p class="text-simple__header" style="@Header.Styles">
            @Header
        </p>
        
        <p class="text-simple__description" style="@TextField.Styles">
            @TextField
        </p>
    </div>
</LineScaffolding>


@code {

    [Parameter] public WebText Header { get; set; } = new("TextField");

    [Parameter] public WebText TextField { get; set; } = new("TextField");

}