@using ElementsLib.BaseElements
@using ElementsLib.Models
@inherits ComponentBaseWithStyles

<ColumnScaffolding ScaffoldingStyle="CssStyles">
    <h3 class="title_01 @(Align)">
        <div class="title_01__title" style="@TextTitle.Styles">
            @TextTitle
        </div>
        @if (TextSubtitle != null)
        {
            <div class="title_01__subtitle" style="@TextSubtitle.Styles">
                @TextSubtitle
            </div>
        }
    </h3>
</ColumnScaffolding>


@code
{
    [Parameter] public WebAlign? Align { get; set; } = WebAlignType.Center;
    [Parameter] public WebText TextTitle { get; set; } = "Title Text";
    [Parameter] public WebText? TextSubtitle { get; set; }
}
