.title {
    margin: auto;
}

.title__text {
    font-size: 2em;
}

@media only screen and (min-width: 720px) {
    .title__text {
        font-size: 3em;
    }
}

@media only screen and (min-width: 1000px) {
    .title__text {
        font-size: 4em;
    }
}