
<button class="big_button" name="checkout" type="submit" data-cart-checkout="mobile">
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path d="M5.51172 10.4026H14.5099C14.7327 10.4026 14.9282 10.2632 14.9885 10.0606L16.9808 3.4607C17.0236 3.31842 16.9943 3.16558 16.9 3.04736C16.8056 2.9295 16.6588 2.8599 16.5021 2.8599H4.36193L4.00591 1.34352C3.95532 1.12758 3.75299 0.974243 3.51953 0.974243H0.498047C0.222824 0.974243 0 1.18515 0 1.44566C0 1.70628 0.222824 1.91707 0.498047 1.91707H3.1198L4.91834 9.57754C4.38917 9.79532 4.01758 10.2939 4.01758 10.874C4.01758 11.6538 4.68787 12.2883 5.51172 12.2883H14.5099C14.7852 12.2883 15.0079 12.0775 15.0079 11.8169C15.0079 11.5564 14.7852 11.3455 14.5099 11.3455H5.51172C5.2374 11.3455 5.01367 11.1342 5.01367 10.874C5.01367 10.6139 5.2374 10.4026 5.51172 10.4026Z" fill="white"></path>
                <path d="M5.01355 13.7026C5.01355 14.4825 5.68384 15.1168 6.50782 15.1168C7.33167 15.1168 8.00196 14.4825 8.00196 13.7026C8.00196 12.9228 7.33167 12.2883 6.50782 12.2883C5.68384 12.2883 5.01355 12.9228 5.01355 13.7026Z" fill="white"></path>
                <path d="M12.0197 13.7026C12.0197 14.4825 12.6899 15.1168 13.5138 15.1168C14.3378 15.1168 15.0079 14.4825 15.0079 13.7026C15.0079 12.9228 14.3378 12.2883 13.5138 12.2883C12.6899 12.2883 12.0197 12.9228 12.0197 13.7026Z" fill="white"></path>
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="17" height="16.0909" fill="white"></rect>
                </clipPath>
            </defs>
        </svg>
        <span>CHECKOUT</span>
    </button>


@code {
    
}