
.selected {
    border: 2px solid white;
    box-shadow: 0 0 10px #00cce7, 0 0 10px #fff;
}

button {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #170e31;
}

button:hover {
    text-shadow: 0 0 10px white;
    transition: all 0.1s ease-in;
}


.button__text {
    font-size: 1.8em;
    position: relative;
    margin: auto auto auto 25px;
    z-index: 10;
    text-align: left;
}

.button__img {
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
}

.button img {
    right: 0px;
    object-fit: contain;
    object-position: right;
    width: 100%;
    height: 100%;
    position: absolute;
    
}

.visually-hidden {
    position: absolute!important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}