@using ElementsLib.Models
@inherits ComponentBaseWithStyles

<BlockScaffolding ScaffoldingStyle="CssStyles">
    <ul class="button_group">
        @foreach (var btn in Buttons)
        {
            <div class="button_group__button @GetWidthStyle()">
                <DynamicComponent Type=@(btn.GetType()) Parameters=@(btn.GetValuesDictionary()) />
            </div>
        }
    </ul>
</BlockScaffolding>



@code {
    [Parameter] public WebSize? MaxHeight { get; set; }
    [Parameter] public List<WebButton> Buttons { get; set; }

    private string GetWidthStyle()
    {
        return Buttons.Count switch
        {
            1 => "w100",
            2 => "w50",
            3 => "w33",
            _ => "w25"
            };
    }
}
