@using ElementsLib.Models

<ul>
    <li style="@Button.WebStyles">
        <a href="@Button.Reference" style="@Button.Text.Styles">@Button.Text</a>
    </li>
</ul>

@code {
    [Parameter] public WebButtonModel Button { get; set; }
}
