@inherits RedmoonBaseModel

<div style="@Child.ScaffoldingStyles">
    <div class="t-container @(Child.ElementName) " >
        <div class="@Child.ScaffoldingClasses" >
            @ChildContent
        </div>
    </div>
</div>



