@inherits RedmoonBaseModel

<div class="scaffolding" style=@(Child.BackgroundFilterColor ?? "")>
    @if (Child.BackgroundVideo != null)
    {
        Child.BackgroundColor = "null";
        <div class="scaffolding__video">
            <div class="background_video">
                <video muted autoplay loop>
                    <source
                        src="https://static.powerc.store/video/pc_video_01.mp4"
                        type="video/mp4">
                </video>
            </div>
        </div>
    }
    
    <div style="@Child.ScaffoldingStyles">
        <div class="t-container @(Child.ElementName) ">
            <div class="@Child.ScaffoldingClasses">
                @ChildContent
            </div>
        </div>
    </div>
</div>