.scaffolding {
    position: relative;
}

.scaffolding__video {
    z-index: -999;
    width: 100vw;
    height: 100%;
    position: absolute;
}

.background_video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0, 0.7);

}

.background_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}




@media only screen and (max-width: 960px) {
    .scaffolding {
        font-size: 0.9em
    }
}


@media only screen and (max-width: 640px) {
    .scaffolding {
        font-size: 0.825em
    }
}