@using ElementsLib.Models

<p style="@TextStyles">@Text</p>

@code {
    [Parameter] public WebText Text { get; set; }
    [Parameter] public WebSize? MarginTop { get; set; }
    [Parameter] public WebSize? MarginBottom { get; set; }
    [Parameter] public TextAlign Align { get; set; }
    [Parameter] public WebSize? Size { get; set; }
    [Parameter] public WebColor? Color { get; set; }
    [Parameter] public string? FontWeight { get; set; }
    [Parameter] public string? FontName { get; set; }

    public string TextStyles
    {
        get
        {
            var returnString = "";
            returnString += MarginTop != null ? $"margin-top: {MarginTop}; " : "";
            returnString += MarginBottom != null ? $"margin-bottom: {MarginBottom}; " : "";
            returnString += FontName != null ? $"font-family: {FontName}; " : "";
            return returnString;
        }
    }

}