* {
    line-height: 2;
    font-size: 1em;
}

@media only screen and (max-width: 768px) {
    * {
        font-size: 0.95em;
    }
}

@media only screen and (max-width: 425px) {
    * {
        font-size: 0.9em;
    }

}

@media only screen and (max-width: 320px) {
    * {
        font-size: 0.85em;
    }

}