@using ElementsLib.Models
@inherits Text_Block

<div class="title">
    <Dynamic Tag="@(Transform(HeadlineType))" Styles="">
        @Content
    </Dynamic>
</div>


@code {

    [Parameter] public Headline HeadlineType { get; set; }

    private string Transform(Headline headline)
    {
        return headline switch
        {
            Headline.H1 => "h1",
            Headline.H2 => "h2",
            Headline.H3 => "h3",
            Headline.H4 => "h4",
            Headline.H5 => "h5",
            Headline.H6 => "h6",
            _ => "p"
            };
    }
    
    public enum Headline
    {
        H1, H2, H3, H4, H5, H6, None
    }
}