@using ElementsLib.Models
@inherits ScaffoldingRenderElement

<ScaffoldingRenderElement Child="this">
    <p style="@TextStyles">@Text</p>
</ScaffoldingRenderElement>

@code {
    public override int? SpacingBottom { get; set; } = 0;
    public override int? SpacingTop { get; set; } = 0;

    [Parameter] public WebText Text { get; set; }
    [Parameter] public WebTextAlign? Align { get; set; }
    [Parameter] public WebSize? FontSize { get; set; }
    [Parameter] public WebColor? Color { get; set; }
    [Parameter] public string? FontWeight { get; set; }
    [Parameter] public string? FontName { get; set; }

    public string TextStyles
    {
        get
        {
            var returnString = "";
            returnString += Align != null ? $"text-align: {Align}; " : "";
            returnString += FontName != null ? $"font-size: {FontSize}; " : "";
            returnString += Color != null ? $"color: {Color}; " : "";
            returnString += FontWeight != null ? $"font-weight: {FontWeight}; " : "";
            returnString += FontName != null ? $"font-family: {FontName}; " : "";
            return returnString;
        }
    }

}