
* {
    box-sizing: border-box;
    cursor: pointer;
}

.button_group {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.button_group__button:first-of-type{
    margin-left: 0;
}

.button_group__button {
    margin-left: 2.5%;
}

.w100 {width: 100%;}
.w50 {width: 50%;}
.w33 {width: 33.3332%;}
.w25 {width: 25%;}