@inherits ElementsLib.BaseElements.WebButton

<BlockScaffolding>
    <a @onclick="ButtonClick" href="@RedirectLink" class="button_stretch">
        <span class="button_stretch__text">
            @TextField
        </span>
    </a>
</BlockScaffolding>


@code {
    [Parameter] public WebText TextField { get; set; } = "";
    // [Parameter] public string? Bac { get; set; } = "";
    
    [Parameter] public override string? RedirectLink { get; set; }
    [Parameter] public override Action? OnClick { get; set; }
    
    private void ButtonClick()
    {
        OnClick?.Invoke();
    }
    
    private string _styles 
    {
        get
        {
            var returnString = "";
            return returnString;
        }
    }
}
