
<div class="big-image">
    <img src="@ImageSource" alt="@ImageDescription">
</div>


@code {
    [Parameter]
    public string ImageSource { get; set; }

    [Parameter]
    public string ImageDescription { get; set; }
}