.big_button {
    background: #00c797;
    font: inherit;
    touch-action: manipulation;
    user-select: none;
    appearance: none;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-style: normal;
    text-transform: uppercase;
    white-space: normal;
    font-family: Poppins, sans-serif;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: .1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    min-width: 1px;
    box-shadow: 0 0 10px #009470, 0 0 10px #fff;
    color: #fff;
    text-shadow: 0 0 10px white;
    height: 100%;
    width: 100%;
    margin: 10px 0;
    padding: 17px;
    border: 3px solid #fff;
    border-radius: 10px;
    font-size: 18px;
}