<footer class="footer">
    <p>Sign up to our newsletter for the latest PC news.</p>
    <p>Build Your PC</p>
    <p>Why Redux</p>
    <p>Support</p>
    <p>Good.</p>
    <p>Better.</p>
    <p>Best.</p>
    <p>Terms & Conditions</p>
    <p>Privacy Policy</p>
    <p>Refund Policy</p>
    <p>Shipping Policy</p>
    <p>Copyright © 2023 Power C. All Rights Reserved.</p>
</footer>

@code {

}