@inherits ElementsLib.Texts.RedmoonComponentBase

<div class="shop-list" style="@MainComponentStyles">
    @if (Items != null && Items.Count > 0)
    {
        @foreach (var item in Items)
        {
            <div class="shop-list__item">
                <img src=@item.ImageSource alt="">
                <p class="shop-list__name">@item.Name</p>
                <p class="shop-list__price">@item.Price</p>
            </div>
        }
    }
    else
    {
        <p>NO ITEMS TO LOAD...</p>
    }
</div>


@code {
    [Parameter]
    public List<ListItem>? Items { get; set; }
    
    
}