@using ElementsLib.BaseElements
@inherits ElementsLib.BaseElements.TextSimple_razor


<ScaffoldingRenderElement Child="@(this)">
    <div class="text-simple" >
        @if (!string.IsNullOrWhiteSpace(Header.Text))
        {
            <span class="text-simple__header evogria" style="@Header.MainModelStyles">
                @Header
            </span>
        }
        @if (!string.IsNullOrWhiteSpace(TextField.Text))
        {
            <span class="text-simple__description" style="@TextField.MainModelStyles">
                @TextField
            </span>
        }
    </div>
</ScaffoldingRenderElement>


@code {

    protected override void OnInitialized()
    {
        StateHasChanged();
        base.OnInitialized();
    }

}