.price-holder {
    background-color: white;
    color: #3a3a3a;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.price-holder__column {
    width: 50%;
    text-align: center;
    flex-direction: column;
    display: flex;
}

.price-holder__column:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.price-holder__price {
    letter-spacing: -0.1em;
    color: #007bed;
    margin: auto;
    font-weight: 800;
}

.price-holder__description {
    font-size: 0.9em;
    margin: 0;
}
